<div class="card col-lg-6 mx-auto resultsFoundCard flex-row flex-rap">
    <div class="card-header border-0">
        <i class="material-icons-outlined cardIcon md-36">business</i>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">1 (Number of DR Forms here)</p>
    </div>
</div>