<div class="card col-lg-6 mx-auto resultsFoundCard flex-row flex-rap">
    <div class="card-header border-0">
        <i class="material-icons-outlined cardIcon md-36">business</i>
    </div>
    <div class="card-body">
        <h5 class="card-title companyName">{{name}}</h5>
        <p class="card-text companyNumberOfDR">Delivery Receipts: <strong>{{activeReceipts}}</strong></p>
    </div>
</div>