<div style="background-color: #cc3333; border-radius: 5px; padding:1px; color: white; text-align: center;width: 35%;">Pending</div>
{{!-- Outlined Version of Pending --}}
{{!-- <div style="border: 2px solid #cc3333; border-radius: 5px; padding:1px; color: #cc3333; text-align: center;width: 35%">Pending</div> --}}