<div style="background-color: #299B04; border-radius: 5px; padding:1px; color: white; text-align: center;width: 35%;">Paid</div>
{{!-- Outlined Version of Paid (Green): --}}
{{!-- <div style="border:2px solid #299B04; border-radius: 5px; padding:1px; color: #299B04; text-align: center;width: 35%;">Paid</div> --}}