<button type="submit" id="pending-btn">Pending</button>

{{!-- Button CSS for Accounting Page  --}}
{{!-- #pending-btn {
    background-color: #cc3333; 
    border: 2px solid #cc3333;
    border-radius: 5px; 
    padding:1px; 
    color: white; 
    text-align: center;
    width: 35%;
}

#pending-btn:hover[type="submit"] {
    background-color: #8b0000; 
    border: 2px solid #8b0000; 
} --}}