<div style="background-color: #545454; border-radius: 5px; padding:1px; color: white; text-align: center;width: 35%;">Paid</div>
{{!-- Outlined Version of Paid (Gray): --}}
{{!-- <div style="border:2px solid #545454; border-radius: 5px; padding:1px; color: #545454; text-align: center;width: 35%;">Paid</div> --}}