<html>
	<head>
		<title>RESTRICTED!</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/css/error.css">     
	</head>

	<body>
        <div id="error-contents">
            <div id="error-texts">
                <h1 id="error-title">ACCESS RESTRICTED</h1>
                <p> You do not have the rights to access this page or address. </p>
            </div>
            <div id="error-photo"> 
                <img src="/images/truck.png" id="sbob" alt="sbob"/> 
            </div>

        </div>
	</body>
</html>