<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel="stylesheet" type="text/css" href="../public/css/login.css">

    </head>
    <body>
        <div id="loginContents">
            <div id="loginForm">
                <img src="../public/images/dv-logo.png" id="logo" alt="dv-logo"/>
                <h1 id="login-title"> Department Login </h1>
                <hr class="solid">
                <p ib="login-subtitle"> Enter your department code here: </p>
                <div class = "error">
                    <!-- <p id="ucodeError" class = "error">{{ucodeError}}</p>	-->
                </div>	
                <form>
                    <input class="input" type="text" placeholder="Usercode" id="ucode" name="ucode">
                    <input type="submit" id="loginbutton" value="Login" class = "btn" name = "login-btn">                    
                </form>
            </div>
        </div>
    </body>
</html>