<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Company Search</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>

    <!-- Imports -->

    <!-- Import materialicons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <!-- Import bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    <!-- Import jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous">
	</script>

    <!-- Import javascript -->
	<script type="text/javascript" src="/js/search-visuals.js"></script>
    <script type="text/javascript" src="/js/search-events.js"></script>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>

</head>
<body>

    {{!-- Navigation bar here --}}
    {{> navbar}}

    <div class="col-lg-12 h-75 d-inline-block row justify-content-center" id="mainDivSearch">
        <h1 id = "searchText" class="col-lg-12 align-items-center row justify-content-center">Search Company</h1>
        
        <form action="/companysearch" method="GET" class="form-inline justify-content-center col-lg-12">
            <div class="form-group justify-content-center w-100 flex-container">
                    <input type="text" name="search" placeholder="Company name" class="form-control col-lg-6" id="searchCompanyText"> 
                    <input id="page-count" type="hidden" name="pagecount" value="{{pageCount}}">
                    <input id="search-query" type="hidden" name="searchquery" value="{{searchQuery}}">
                    <button class="btn btn-outline-secondary material-icons-outlined " value="Search" type="submit" id="searchButton">search</button>
            </div>
        </form>
            
        <div class="col-lg-12 mx-auto" id="companyListContainer">
            <div class="card col-lg-6 mx-auto resultsCard" id="resultsCountCard">
                <div class="card-body" id="resultsFoundText"> </div>
            </div>

            <div id="company-cards">
                {{#each companyList}}
                {{>company}}    
                {{else}}
            </div>

            <div class="card col-lg-6 mx-auto resultsCard" id="noResultsParentCard">
                <div class="card-body noResultsFound" id="noResultsFoundCard">  </div>
            </div>

            {{/each}}
            <p id="bottomOfPageSpace"></p>
        </div>
        
        <nav aria-label="page navigation justify-content-center paginationParent">
            <ul class="pagination justify-content-center paginationContainer">
                <li class="page-item justify-content-center">
                    <a id="previous" class="page-link justify-content-center" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                
                <div class="pagination justify-content-center paginationContainer">
                    <li class="page-item"><a id="first-page" class="page-link page-nav" href="">1</a></li>
                    <li class="page-item"><a class="page-link page-nav" href="">2</a></li>
                    <li class="page-item"><a class="page-link page-nav" href="">3</a></li>
                </div>
                
                <li class="page-item">
                    <a id="next" class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="modal" tabindex="-1" role="dialog" id="deleteCompanyModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Deletion of Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="deleteCompanyModalClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <p class="confirmDeleteModalText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteCompanyButton">Delete</button>
                </div>
            </div>
          </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>