body {          
    height: 100%;
    background: linear-gradient(rgba(234,234,234,.40), rgba(234,234,234,.40)), url("../images/grayBackground.jpg");
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    margin:0 auto;
}

thead, tbody, tfoot {
    background-color: white;
}

thead, tfoot, #content-container {
    color: #194A09;   
}

#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    width: 100%;
    
}

#title-container {
    position: relative;
    left:150px;
}

.custom-select { 
    background-position: 35px !important;
    width:50px !important
}

.btn-info {
    background-color: #194A09 !important;
    border-style: none !important;
    margin-left: 40px;
}

.viewIcon {
    color: white;
}

tfoot input {
    width: 40%;
    padding: 3px;
    box-sizing: border-box;
}

table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap:break-word; 
}

.form-control-sm {
    position: relative;
}

.pagination {
    position: relative;
    right:430px;
    top:30px;
    padding-bottom: 30px;
}

#searchDrForm {
    position: relative;
    left:5px;
    bottom:20px;
}

#filterText {
    overflow-y: auto;
    max-height: 50px;
}

#header-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#decena-logo{
    width: 23%;
    height: 23%;
    vertical-align: middle;
    border-style: none;
}

.paymentStatus {
    border: 2px solid  #cc3333;
    border-radius: 5px ; 
    color: white; 
    text-align: center;
    width: 100%;
    background-color: #cc3333;
    height:30px;
    margin: 3px;
    margin-left: 0;
    margin-right: 0;
}

.paymentStatus:hover{
    background-color: #8b0000; 
    border: 2px solid #8b0000; 
}

.paidStatus{
    opacity: 0.4;
    background-color: #545454;
    border-radius: 5px; 
    padding:1px; 
    color: white; 
    text-align:center;
     width: 95%;

}

/* Pagination */
.pagination > li > a
{
    background-color: white;
    color: #194A09;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #194A09 !Important;
    border: solid 1px #194A09 !Important;
}

.pagination > .active > a:hover
{
    background-color: #194A09 !Important;
    border: solid 1px #194A09;
}

.viewBtn{
    margin: 0 auto;
}

#submit {
    text-align: center;
}
#submit:hover {
    background-color: #123524 !Important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* View DR Modal */
#upper1-part1, #upper2-part1, #lower1-part1, #lower2-part1, #upper-part2, #middle-part2, #lower-part2, #modal-part3, 
#arrival-ppoint, #departure-ppoint, #arrival-dpoint, #startload-dpoint, #finishload-dpoint, #departure-dpoint, #modal-fleet1-details, 
#modal-fleet2-details, #modal-acknowledgement1, #modal-acknowledgement2 {
    display: flex;
    flex-direction: row;
}

#modal-part1, #modal-part2, #modal-part4 {
    display: flex;
    flex-direction: column;
}

#modal-part1, #modal-part2, #modal-part3, #modal-part4  {
    border-top: 5px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: #194A09;
    border-style: solid;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

 #upper1-left-p1, #upper2-left-p1, #lower1-left-p1, #lower2-left-p1, #upper-left-p2, #middle-left-p2, #lower-left-p2, 
 #left-p3,  #a-left-left-p3, #d-left-left-p3, #a-right-left-p3, #sl-right-left-p3, #fl-right-left-p3, #d-right-left-p3,
   #upper1-left-p4, #upper2-left-p4, #lower1-left-p4, #lower2-left-p4 {
   width: 40%;
   font-size: 2vh;
}

#upper1-right-p1, #upper2-right-p1, #lower1-right-p1, #lower2-right-p1, #upper-right-p2, #middle-right-p2, #lower-right-p2, 
#a-left-right-p3, #d-left-right-p3, #a-right-right-p3, #sl-right-right-p3, #fl-right-right-p3, #d-right-right-p3, 
#upper1-right-p4, #upper2-right-p4, #lower1-right-p4, #lower2-right-p4 {
   width: 55%;
   word-wrap: break-word;
   color: black;
   font-size: 2vh;
   margin-left: 2vh;    
}

#right-p3 {
   margin-left: 2vh;
   width: 55%;
   word-wrap: break-word;    
}

h6 {
    font-size: 2.5vh;
    font-weight: bold;
}

p {
    display: block;
    margin: 0;
    color: #737373;
    font-size: 2.5vh;
}

#modal-dr-header {
    background-color: #FCFA0D;
    margin: 1vh;
    margin-top: 0vh;
    padding: 2vh;
    color: black;
}

#modal-dr-title {
    margin: 0vh;
}

/* Update Payment Status Modal */
#secondModalTitle {
    color: #194A09;
    position: relative;
    left:10px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#cccccc;
    height: 1px;
  }

#updatePaymentStatusText {
    position: relative;
    left:10px;
    top:10px;
    color: black;
}

#modalFooterId {
    position: relative;
    right:10px;
    border-top:none;
    padding-top: 0px;
}

#cancelUpdateModal {
    background-color: #e0e0e0;
}

#continueUpdateModal {
    background-color: #194A09;
}

#continueUpdateModal:hover{
    background-color: #123524;
}
#cancelUpdateModal:hover{
    background-color: #c0c0c0;
}

div.datatable-wide {
    padding-top: 0%;
    margin-top:0%;
}

/* Header */
#title-container {
    display: flex;
    align-items: center;
}

#decena-logo {
  float: left;
  width: 23%;
  height: 23%;
}

#dr-logo {
  position: relative;
  font-size: 6vh;
  padding-left: 1%;
  color: #299B04;
}

#mainContainerForYear {
    display: flex;
    flex-direction: row;
    left: 18%;
    top: 2%;
    padding:0%;
    margin-top: 2%;
    transform: translateY(15px);
}

.md-48 {
    font-size: 21px !important;
    color:black;
  }

#filter-year-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    border: gray;
    height: 30px;
    cursor: pointer;
    width: auto;
    background-color:transparent;
    transform: translateX(-125px);
    padding: 0%;
}

#btn-in {
    width: 24%;
    position: relative;
}

#set-year-input {
    margin: 0px;
    padding: 6px;
    width: 45%;
    outline: none;
    height: 30px;
    border-radius: 4px;
}

#set-year-label {
    padding-right: 3%;
    padding-top: 1%;
}