body{          
    height: 100%;
    background: linear-gradient(rgba(234,234,234,.30), rgba(234,234,234,.30)), url("../images/grayBackground.jpg");
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    font-family: Helvetica;
}

thead,tbody,tfoot {
    background-color: white;
}

thead, tfoot, #content-container {
    color: #194A09;   
}

#main-div {
    display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 30px;
}

/* Client Page Header */
#header-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 1%;
}

#client-company-name {
    margin-bottom: 1%;
    padding: 0px;
    color: #004AAD;
    font-weight:bold;
}
#client-name-title { 
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0%;
    font-weight: bold;
}

#header-content-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
}

#contract-status-container, #contract-date-container, #days-left-container {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #194A09;
}

#contract-status-title, #contract-date-title, #days-left-title {
    color: #545454;
    font-weight: lighter;
    font-size: 2vh;
    margin:0%;
}

#contract-date-val {
    color: black;
    font-size: 3.5vh;
}

#days-left-val {
    color: black;
    font-size: 5vh;
}

.custom-select{
    background-position: 35px !important;
    width:60px !important
    }

.btn-info{
    background-color: #417dc1 !important;
    border-style: none !important;
    margin-left: 40px;
}

.editIcon{
    color: white;

}

tfoot input {
    width: 40%;
    padding: 3px;
    box-sizing: border-box;
}

table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap:break-word; 
  }

  .form-control-sm{
      position: relative;
   
  }

  .pagination{
      position: relative;
      right:430px;
      top:30px;
      padding-bottom: 30px;
  }

  #searchDrForm{
      position: relative;
      right:40px;
  }

/* Pagination */
.pagination > li > a
{
    background-color: white;
    color: #194A09;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #194A09 !Important;
    border: solid 1px #194A09 !Important;
}

.pagination > .active > a:hover
{
    background-color: #194A09 !Important;
    border: solid 1px #194A09;
}