body{          
    height: 100%;
    background-image: url("../images/grayBackground.jpg");
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}


h1 {
    margin-top: 5%;
    text-align: left;
}
#tableDiv {
    background-color: white;
    padding: 2%;
}

#mainDiv {

    display: flex;
	justify-content: center;
	align-items: center;
}