body {          
    height: 100%;
    background-image: url("../images/grayBackground.jpg");
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}

#dr-form {
    background-color: white;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

#header-logo, #name-date-container, #lists-processor, #part3, #part4, #docs-options, #p-date-time, #d-date-time, #a-date-time, 
/* modal */ #upper1-part1, #upper2-part1, #lower1-part1, #lower2-part1, #upper-part2, #middle-part2, #lower-part2, #modal-part3, 
#arrival-ppoint, #departure-ppoint, #arrival-dpoint, #startload-dpoint, #finishload-dpoint, #departure-dpoint, #modal-fleet1-details, 
#modal-fleet2-details, #modal-acknowledgement1, #modal-acknowledgement2 {
    display: flex;
    flex-direction: row;
}

#part1, #part2, #description, #p-date, #p-time, /* modal */ #modal-part1, #modal-part2, #modal-part4 {
    display: flex;
    flex-direction: column;
}

#part1, #part2, #part3, #part4, /* modal */ #modal-part1, #modal-part2, #modal-part3, #modal-part4  {
    border-top: 5px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: #194A09;
    border-style: solid;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3%;
    padding-bottom: 2%;

}
#header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
  float: left;
  width: 23%;
  height: 23%;
}

.header-logo h1 {
  position: relative;
  font-size: 6vh;
}

.header-logo h1 {
    padding-left: 1%;
    color: #299B04;
}

#name-container, #mode-shipment, #pick-up, #fleet-details {
    width: 55%;
}

#second-docs, #p-time, #d-time, #a-time {
    margin-left: 7vh;
}

#description, #pickup-site, #delivery-site {
    width: 44%;
    padding-left: 7px;
}

/* 
 * Modal
 */ 
  #upper1-left-p1, #upper2-left-p1, #lower1-left-p1, #lower2-left-p1, #upper-left-p2, #middle-left-p2, #lower-left-p2, 
  #left-p3,  #a-left-left-p3, #d-left-left-p3, #a-right-left-p3, #sl-right-left-p3, #fl-right-left-p3, #d-right-left-p3,
    #upper1-left-p4, #upper2-left-p4, #lower1-left-p4, #lower2-left-p4 {
    width: 40%;
    font-size: 2vh;
}

/* 
 * Modal
 */ 
 #upper1-right-p1, #upper2-right-p1, #lower1-right-p1, #lower2-right-p1, #upper-right-p2, #middle-right-p2, #lower-right-p2, 
 #a-left-right-p3, #d-left-right-p3, #a-right-right-p3, #sl-right-right-p3, #fl-right-right-p3, #d-right-right-p3, 
 #upper1-right-p4, #upper2-right-p4, #lower1-right-p4, #lower2-right-p4 {
    width: 55%;
    word-wrap: break-word;
    color: black;
    font-size: 2vh;
    margin-left: 2vh;    
}

/*
 * Modal
 */ 
 #right-p3 {
    margin-left: 2vh;
    width: 55%;
    word-wrap: break-word;    
}

#submit, #submit-confirm {
    background-color: #194A09;
    color: white;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    border: #194A09;
    float: right;
    margin-right: 5%;
}

input[type=text], input[type=date], input[type=time], input[type=number]{
    border: none;
    border-bottom: 2px solid #194A09;   
    font-size: 2vh;
    display: block;
    width: auto;
}

.label,p {
    display: block;
    margin: 0;
    color: #737373;
    font-size: 2.5vh;
}
label, h6, h1 {
    color: #194A09;
}

h6 {
    font-size: 2.5vh;
    font-weight: bold;
}

textarea {
    border-color: #194A09;
    border: 2px;
    border-style: solid;
    width: 75%;
    border-radius: 2px;
    padding-left: 1%;
    margin-top: 0.5%;
}

#modal-header {
    background-color: #FCFA0D;
    margin: 1vh;
    margin-top: 0vh;
    padding: 2vh;
}

#modal-dr-title {
    margin: 0vh;
}

#date-error-container {
    display: flex;
    flex-direction: column;
}

#secondModalTitle{
    color: #194A09;
    position: relative;
    left:75px;
}

hr {
    border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#cccccc;
  height: 1px;
  }

#submissionSuccessText{
    position: relative;
    left:60px;
    top:10px;
}

#modalFooterId{
    position: relative;
    right:50px;
    border-top:none;
}

#redirectConfirmModal{
    background-color: #e0e0e0;
}

/* Error-related styles */

.error {
    color: #ce2029;
    font-weight: 500;
    font-size: 1.8vh;
    background-color: #FFFFFF;
}

#company-name, #client-name, #pickup-site, #delivery-site, #description, #processor, 
#driver, #helper, #plate-number, #quantity, #docs-options {
    background-color: #FFFFFF;
}

#name-date-container, #site-container, #mode-shipment, #documents-processor, #description-container,
#pick-up, #destination, #fleet-details, #acknowledgement {
    padding-left: 1%;
    padding-right: 1%;
}