body {          
    height: 100%;
    background-image: url("../images/grayBackground.jpg");
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

/* Header */
#header-logo{
    padding-top: 40px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#decena-logo{
    width: 19%;
    height: 100%;
}

#decena-text {
    position: relative;
    font-size: 6vh;
    color: #299B04;
}

/* Set Year */
#set-year-container {
    display: flex;
    flex-direction: row;
    margin-left: 17px;
    padding:0%;
    margin-bottom: 35px;
    transform: translateY(14px);
}

#set-year-label {
    display:inline-block;
    padding-right: 7px;
    padding-top: 4px;
    color: #194A09;
    max-width: 55%;
}

#set-year-input-btn {
    width: 120px;
    position: relative;
    display:inline-block;
}

#set-year-input {
    margin: 0px;
    padding: 6px;
    width: 65px;
    outline: none;
    height: 30px;
    border-radius: 4px;
}

#set-year-btn{
    position: absolute;
    width: auto;
    height: 30px;
    border: gray;
    background-color:transparent;
    top: 0px;
    right: 0px;
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
    cursor: pointer;
    transform: translateX(-60px);
}

.set-year-span {
    font-size: 19px !important;
    color: 	#404040;
}

/* Container for Main Content */
#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    width: 100%; 
}

/* DataTable */
table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed; 
    word-wrap:break-word; 
}

thead, tbody, tfoot {
    background-color: white;
}

thead, tfoot, #content-container {
    color: #194A09;   
}

tfoot input {
    width: 40%;
    padding: 3px;
    box-sizing: border-box;
}

.custom-select { 
    background-position: 35px !important;
    width:50px !important
}

.form-control-sm {
    position: relative;
}

#searchDrForm {
    position: relative;
    left:5px;
    bottom:20px;
}

.searchField{
    box-sizing: border-box;
    width: 100%;
}

#filterText {
    overflow-y: auto;
    max-height: 50px;
}

#containerForYear{
    position:relative;
    top:50px;
    right:100px;   
}

.paymentStatus{
    border-radius: 5px; 
    padding:1px; color: white; 
    text-align: center;
    width: 90%;
    height:25px;
}

.editBtn{
    margin-left: 5px;
}

.editBtn:hover {
    background-color: #0f4d92 !Important;
    border: solid 1px #0f4d92;
}

.btn-info {
    background-color: 26619c !Important;
    border-style: none !Important;
}

.editIcon {
    color: white;
}

/* Pagination */
.pagination > li > a
{
    background-color: white;
    color: #194A09;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #194A09 !Important;
    border: solid 1px #194A09 !Important;
}

.pagination > .active > a:hover
{
    background-color: #194A09 !Important;
    border: solid 1px #194A09;
}

.pagination {
    position: relative;
    right:430px;
    top:30px;
    padding-bottom: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}