body {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(234,234,234,.30), rgba(234,234,234,.30)), url("../images/grayBackground.jpg");
    background-size: cover;
    font-family: Helvetica;      
    overflow: hidden;   
}    

body, #error-photo, #error-texts, #error-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#error-contents {
    padding: 3%;
}

p {
    font-size: 3vh;
    font-weight: normal;
}

/* Error Page */
#error-title {
    font-size: 8vh;
    color: #194a0a;
    font-family: Helvetica;  
    margin-bottom: 0;
}

#error-icon {
    width: 60%;
}

/* Access Denied Page */
#ad-icon {
    width: 40%;
    padding: 0px;
}
#error-access-title {
    font-size: 8vh;
    color: #9B0E0E;
    font-family: Helvetica;  
    margin-bottom: 0;
}