@import '~material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body,html{          
    height: 100%;
    background-image: url("../images/grayBackground.jpg");
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

#searchHeader{
    margin-top: 20px;
    margin-left: 20px;
    height: 500px;
}

.cardIcon{
    background-color: #ffffff;
    justify-content: center;
}


.card-header{
    background-color: white;
}

.cardIcon{
   margin-top: 8px;
   font-size: 25px;
}

label {
    margin-bottom: 20px;
}

h1{
    margin-bottom: 30px;
    color: #194A09;
    font-size: 50px;
    display: inline;
}

#searchText{
    font-weight: bold;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#companyList{
    list-style-type: none;
    margin-top: 20px;
    margin-left:0px;
}


#mainDivSearch{
    position: relative;
    margin-left: 20px;
    top: 90px;
    padding-bottom: 100px;
}

.numberOfDR{
 margin-left: 10px;   
}

#navBarText{
    color: white;
}

.companyName{
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.flex-container{
    display: flex;
}

#searchCompanyText{
    flex: 1;
    border-color:#194A09;
    border-width: medium;
    position: relative;
    left: 20px;
}

#bottomOfPageSpace{
    color: white;
}


a{
    color: black;
}

.card{
    justify-content: center;
    list-style-type: none;
    margin-top: 8px;
    border-color:#194A09 ;
    height: 70px;
}

.resultsFoundCard:hover{
    background-color: #dbdbdb;
    cursor:pointer;
}



#companyListContainer{
    margin-top: 25px;
}

#searchButton{
    background-color: #194A09;
}



form {
    display:flex;
    flex-direction:row;
    padding:2px;
  }
  
  input {
    flex-grow:2;
    border:none;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    border:1px solid blue;
    background:blue;
    color:white;
  }

  .resultsCard:hover{
    background-color: white;
  }

#searchButton{
    position: relative;
    right:22px;
    border-color: black;
    color: white;
}

#resultsCountCard{
    padding: 15px;
    margin-bottom: 30px;
    background-color:#299b04;
    font-weight: 500;
    color: white;
    height:60px;
    
}

.companyNumberOfDR{
    font-size: 15px;
    position: relative;
    bottom: 14px;
}

.companyName{
    font-size:15px;
    position:relative;
    bottom:7px;
}

#noResultsParentCard{
    font-weight: 500;
    height:60px;
}

.paginationContainer{
    padding-bottom: 50px;
    
}

.page-link{
    color: white;
    background-color:#194A09;
}
