
@import '~material-design-icons/iconfont/material-icons.css';
body,html{          
    height: 100%;
    background-color: white;
}

#searchHeader{
    margin-top: 20px;
    margin-left: 20px;
    height: 500px;
}

.cardIcon{
    background-color: white;
    justify-content: center;
}


.card-header{
    background-color: white;
}

.cardIcon{
   margin-top: 25px;
   font-size: 32px;
}

label {
    margin-bottom: 20px;
}

h1{
    margin-bottom: 40px;
    color: #194A09;
    font-size: 50px;
    display: inline;
}

#searchText{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#companyList{
    list-style-type: none;
    margin-top: 20px;
    margin-left:0px;
}


#mainDivSearch{
    position: relative;
    margin-left: 20px;
    top: 90px;
}

.numberOfDR{
 margin-left: 10px;   
}

#navBarText{
    color: white;
}

.companyName{
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.flex-container{
    display: flex;
}

#searchCompanyText{
    flex: 1;
    border-color:#194A09;
    position: relative;
    left: 20px;
}


a{
    color: black;
}

.card{
    justify-content: center;
    list-style-type: none;
    margin-top: 8px;
    border-color:#194A09 ;
}

.resultsFoundCard:hover{
    background-color: #dbdbdb;
    cursor:pointer;
}



#companyListContainer{
    margin-top: 25px;
}

#searchButton{
    background-color: #194A09;
}



form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
 
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }
  
  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:blue;
    color:white;
  }

  .resultsCard:hover{
    background-color: white;
  }

#searchButton{
    position: relative;
    right:22px;
    border-color: black;
    color: white;
}

#resultsCountCard{
    padding: 25px;
    margin-bottom: 30px;
    background-color:#ff7369;
    font-weight: 500;
}

#resultsFoundText{
    
    color: red;
}

#noResultsParentCard{
    font-weight: 500;
}